@font-face {
  font-family: "tengwar_annatarregular";
  src: url("../fonts/tengwar_annatar/tngan-webfont.eot");
  src: url("../fonts/tengwar_annatar/tngan-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tengwar_annatar/tngan-webfont.woff2") format("woff2"), url("../fonts/tengwar_annatar/tngan-webfont.woff") format("woff"), url("../fonts/tengwar_annatar/tngan-webfont.ttf") format("truetype"), url("../fonts/tengwar_annatar/tngan-webfont.svg#tengwar_annatarregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tengwar_annatarbold";
  src: url("../fonts/tengwar_annatar/tnganb-webfont.eot");
  src: url("../fonts/tengwar_annatar/tnganb-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tengwar_annatar/tnganb-webfont.woff2") format("woff2"), url("../fonts/tengwar_annatar/tnganb-webfont.woff") format("woff"), url("../fonts/tengwar_annatar/tnganb-webfont.ttf") format("truetype"), url("../fonts/tengwar_annatar/tnganb-webfont.svg#tengwar_annatarbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tengwar_annatarbold_italic";
  src: url("../fonts/tengwar_annatar/tnganbi-webfont.eot");
  src: url("../fonts/tengwar_annatar/tnganbi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tengwar_annatar/tnganbi-webfont.woff2") format("woff2"), url("../fonts/tengwar_annatar/tnganbi-webfont.woff") format("woff"), url("../fonts/tengwar_annatar/tnganbi-webfont.ttf") format("truetype"), url("../fonts/tengwar_annatar/tnganbi-webfont.svg#tengwar_annatarbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tengwar_annataritalic";
  src: url("../fonts/tengwar_annatar/tngani-webfont.eot");
  src: url("../fonts/tengwar_annatar/tngani-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tengwar_annatar/tngani-webfont.woff2") format("woff2"), url("../fonts/tengwar_annatar/tngani-webfont.woff") format("woff"), url("../fonts/tengwar_annatar/tngani-webfont.ttf") format("truetype"), url("../fonts/tengwar_annatar/tngani-webfont.svg#tengwar_annataritalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "anironcbold";
  src: url("../fonts/aniron/anicb___-webfont.eot");
  src: url("../fonts/aniron/anicb___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aniron/anicb___-webfont.woff2") format("woff2"), url("../fonts/aniron/anicb___-webfont.woff") format("woff"), url("../fonts/aniron/anicb___-webfont.ttf") format("truetype"), url("../fonts/aniron/anicb___-webfont.svg#anironcbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "anironcregular";
  src: url("../fonts/aniron/anicm___-webfont.eot");
  src: url("../fonts/aniron/anicm___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aniron/anicm___-webfont.woff2") format("woff2"), url("../fonts/aniron/anicm___-webfont.woff") format("woff"), url("../fonts/aniron/anicm___-webfont.ttf") format("truetype"), url("../fonts/aniron/anicm___-webfont.svg#anironcregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "anironbold";
  src: url("../fonts/aniron/anirb___-webfont.eot");
  src: url("../fonts/aniron/anirb___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aniron/anirb___-webfont.woff2") format("woff2"), url("../fonts/aniron/anirb___-webfont.woff") format("woff"), url("../fonts/aniron/anirb___-webfont.ttf") format("truetype"), url("../fonts/aniron/anirb___-webfont.svg#anironbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "anironregular";
  src: url("../fonts/aniron/anirm___-webfont.eot");
  src: url("../fonts/aniron/anirm___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aniron/anirm___-webfont.woff2") format("woff2"), url("../fonts/aniron/anirm___-webfont.woff") format("woff"), url("../fonts/aniron/anirm___-webfont.ttf") format("truetype"), url("../fonts/aniron/anirm___-webfont.svg#anironregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "party_businessregular";
  src: url("../fonts/party_business/partybusiness-webfont.eot");
  src: url("../fonts/party_business/partybusiness-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/party_business/partybusiness-webfont.woff2") format("woff2"), url("../fonts/party_business/partybusiness-webfont.woff") format("woff"), url("../fonts/party_business/partybusiness-webfont.ttf") format("truetype"), url("../fonts/party_business/partybusiness-webfont.svg#party_businessregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
