.main-container {
	width: 600px;
	height: 300px;
	display: inline-flex;
}

#hero-container {
	width: 300px;
	height: auto;
	text-align: center;
}

img {
	width: 300px;
	height: auto;
	filter: opacity(50%);
}

#hero-container:hover img {
	width: 310px;
	transition: 0.4s;
	filter: opacity(100%);
}

.reward {
	width: 260px;
	height: auto;
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;
	background: rgba(255,255,255,0.7);
	padding: 10px;
	border-radius: 20px;
	font-size: 30pt;
	z-index: 9999;
}

#hero-container:hover .reward {
	transition:0.8s;
	display: none;
}

.gandalf {
	width: 300px;
	position: absolute;
	margin-top: -150px;
	font-size: 30pt;
	color: white;
}

#hero-container:hover .gandalf {
	transition:all 0.8s;
	margin-top: -40px;
	font-size: 20pt;
}

span {
	color: orange;
}